body {
    background: #000000b4;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

footer {
    background: linear-gradient(rgba(0, 0, 255, 0.596), rgba(255, 255, 255, 0.521));
    text-align: center;
    font-size: 10px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    margin: 20px;
    background: linear-gradient(rgba(0, 0, 255, 0.596), rgba(255, 192, 203, 0.589), rgba(255, 255, 255, 0.521));
    text-align: center;
    font-size: 10px;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 20%;
    height: 500px;
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 255, 0.596), rgba(255, 192, 203, 0.589), rgba(255, 255, 255, 0.521));
    border: 5px solid black;
    border-radius: 5px;
}

.content-- {
    display: flex;
    flex-direction: column;
}

.content-1 {
    /* background-color: rgb(47, 47, 165); */
    background:linear-gradient(rgba(0, 0, 255, 0.596), rgba(255, 192, 203, 0.589), rgba(255, 255, 255, 0.521));
    border: 5px solid black;
    border-radius: 5px;
    position: absolute;
    padding: 40px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 905px;
    height: 150px;
    top: 130px;
    bottom: 20px;
    right: 30px;
}

.content-2 {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background: linear-gradient(rgba(0, 0, 255, 0.596), rgba(24, 122, 122, 0.616));
    border: 5px solid black;
    border-radius: 5px;
    top: 64%;
    right: 40%;
    padding: 40px;
    width: 395px;
    height: 162px;
}

.content-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 10px;
    background: linear-gradient(rgba(0, 0, 255, 0.596), rgba(40, 125, 131, 0.521));
    border: 5px solid black;
    border-radius: 5px;
    top: 64%;
    right: 30px;
    padding: 40px;
    width: 400px;
    height: 162px;
}